/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.active{
    font-weight: 900;
    color:blue

}

nav{
    span{
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
        color:rgb(17, 16, 16);
        background-color: rgb(135, 138, 170);
        border-radius: 5px;
    }
}